.text-field {
	display: flex;
	flex-direction: column;
	padding: 40px 0 0 0;
	box-sizing: border-box;
	position: relative;
	


	& input {
		font-size: @font-size-main;
		padding: 10px 10px 10px 5px;
		display: block;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,0.2);
		box-sizing: border-box;
	}
	
	& input[type='date'] {
		letter-spacing: 1px;
	}

	& input:focus {
		outline: none;
	}

	& input ~ label {
		transform: translate(0,0) scale(1);
		transform-origin: left center;
		padding: 10px 10px 10px 5px;
		font-size: @font-size-main;
		pointer-events: none;
		position: absolute;
		transition: all .2s ease;
		color: rgba(0,0,0,0.3);
	}
	
	& input:valid:not(:focus) ~ label {
		color: @color-gray-font;
	}
	
	& input:focus ~ label, & input:valid ~ label {
		transform: translate(0px,-20px) scale(0.9);
		transition: all .2s ease;
		color: @color-active;
	}
	
	& input[type='date'] ~ label {
		transform: translate(0px,-20px) scale(0.9);
	}
	
	&__bar {
		transform: translate(0, -2px);
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		
		&::after {
			content: '';
			height: 2px;
			background: @color-active;
			width: 0%;
			transition: all .2s ease;
      margin: 0 0 -2px 0;
		}
	}
	
	& input:focus ~ &__bar::after {
		width: 100%;
		transition: all .2s ease;
	}
	
	&_search {
		
		& input {
			padding-left: 25px;
		}
		
	}
	
	&__search-icon {
		background-image: ~'url(./res/icons/search.svg)';
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.2;
		width: 20px;
		height: 20px;
		position: absolute;
    bottom: 10px;
	}



}